@model MVC.Models.Products.IndexViewModel

<form asp-action="Info" asp-controller="Products" method="post">

    <h2>First name:</h2>
    <input asp-for="FirstName">
    <span  asp-validation-for="FirstName"></span>
    <!--@Html.ValidationMessageFor(model => model.FirstName)-->

    <h2>Last name:</h2>
    <input asp-for="LastName">
    <span  asp-validation-for="LastName"></span>

    <h2>Age:</h2>
    <input asp-for="Age">
    <span  asp-validation-for="Age"></span>

    <h2>Address:</h2>
    <textarea  asp-for="Address" >Enter text here...</textarea>
    <span  asp-validation-for="Address"></span>

    <input type="submit">

</form>